

@media (min-width: 768px){
	#prices .list-price .product{
		width: 190px;
		margin-left: 40px;
	}
}
/*
@media (max-width: 601px){
	#prices .btn-price{	
		left: 154px;
	}
}

@media (min-width: 600px){
	#prices .btn-price{	
		left: 220px;
	}
}



@media (min-width: 480px){
	#prices .btn-price{
		
		left: 125px !important;
	}
}*/






@media (max-width: 360px){
	#prices .list-price .product{
		width: 190px;
		margin-left: 40px;
	}
}