
		*{
			font-family: Myriad Pro;
			letter-spacing: 1.3;
		}
		#menu {
			background: url('image/banner.png');
			color: white;

		}
		#menu .menu .navbar{
			margin-left: 12%;
    		width: 76% !important;
    		margin-right: 12% !important;
    		padding-top: 20px
		}
		#menu .banner{
			text-align: center;
		}
		#menu .navbar .navbar-brand{ 
			color: white;
			font-weight: bold;
		}
		#menu .navbar li a{ 
			color: white;
			font-weight: bold;
		}
		.nav>li>a:hover{
			color: #ed145b !important;
		}
		.nav>li:focus a, .nav>li:hover a{
		    text-decoration: none;
		    background: none;
		    color: #ed145b;
		}
		#menu .navbar .navbar-nav li.active a{ 
			color: #ed145b;
		}
		#menu .navbar-brand span{
			color: #ed145b;
			font-weight: bold;
		}
		#menu .banner span{
			font-weight: bold;
		}
		#menu .banner h2{
			padding-top: 70px;
			text-transform: uppercase;
			font-size: 32px;
		}
		#menu .banner .slogan{
			width: 44%;
			margin-left: 28%;
			padding-bottom: 30px;
		}
		#menu .banner button{
			margin-bottom: 140px;
		}
		.navbar-toggle .icon-bar {
			background: #ed145b;	
		}


		#power {
			background: #f4f4f4;
			padding-bottom: 50px;
			padding-top: 50px;
		}
		#power .powerfull{
			width: 75%;
			float: right;
		}
		#power .powerfull p{
			padding-top: 20px;
			padding-bottom: 20px;
		}
		#power .powerfull a{
			text-decoration: none;
			color: #ed145b;
			text-transform: uppercase;
			font-size: 13px;
		}
		#power i.fa {
		  display: inline-block;
		  border: 1px solid  #ed145b ;
		  border-radius: 60px;

		  padding: 0.5em 0.6em;
		}


		/*style services*/
		#services {
			padding-bottom: 50px;
			padding-bottom: 50px;
		}
		#services .img-service img{
			width: 25px;
		}
		#services .our-services {
			margin-left: 12%;
    		width: 76%;
    		margin-top: 30px;
		}
		#services .img-service i{ 
			border-radius: 60px;
			box-shadow: 0px 0px 2px #888;
			padding: 27px 23px;
		}

		#services .our-services p{
			margin-top: 30px;
			color: #ed145b;
			text-transform: uppercase;
			font-size: 13px;
			padding-bottom: 20px;
		}
		/*style product*/
		#product {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		#product .col-md-4 {
			margin-bottom: 20px;
		}
		#product .prod .img-prod{
			padding-top: 10px;
			width: 18%; float: left;
			margin-right: 6%;
		}
		#product .prod .content-prod{
			width:70%; float: left;
		}
		#product .prod .content-prod h4{
			color: #ed145b;
			font-size: 14px;
		}
		#product .prodm{
			margin-left: 12%;
    		width: 76%;
		}
		/*style prices*/

		#prices {
			background: #f4f4f4;
		}
		#prices button{
			border-radius: 20px;
			padding: 6px 24px;
			background: #ed145b;
		}
		#prices .list-price .price{
			background: #5a5a5a;
		}
		/*#prices .list-price button{
		    position: absolute;
		    left: 89px;
		    top: 31px;
		}*/
		#prices .list-price {
			margin-left: 12%;
    		width: 76%;
    		color:white;
		}
		#prices .list-price p{
			font-size: 14px;
		}
		#prices .list-price .price>p:first-child{
			margin-bottom: -10px;

		}
		#prices .list-price .price>p:last-child{
			padding-bottom: 20px;
			
		}
		#prices .list-price .product{
			background: #fff;
			margin-bottom: 60px;
    		padding-bottom: 30px;
    		position: relative;
			width: 190px;
			margin-left: 20px;
		}
		#prices .list-price .content-price{
			color:black;
			
		}
		#prices .list-price span{
			font-size: 30px;
		}
		#prices .btn-price{

			position: absolute;
			top: 55px;
    		left: 36px;
		}
		#prices .content-price p:first-child{
			margin-top: 30px;
		}


		/*style became*/
		#became{
			background: #ed145b;
			padding-bottom: 25px;
			padding-top: 30px;
		}
		#became p{
			text-transform: uppercase;
			color:white;
			font-size: 18px;
		}
		#became button{
			background: #fff;
			color: #ed145b;
		}


		/*style updates*/
		#updates{
			padding-top: 60px;
			line-height: 1.7
		}
		#updates .picture{
			margin-left: 12%;
    		width: 76%;
		}
		#updates .picture .content h4{
			font-size: 16px;
		}
		#updates .picture .content{
			text-align: left;
			padding:10px;
			line-height: 2;
			letter-spacing: 1.1px;
		}
		#updates .picture .ptr{
			background: #f4f4f4;
			margin-bottom: 40px;
		}
		#updates .picture img:hover{
			opacity: 0.7;
			background: rgba(51, 170, 51, .1)
		}
		
		 

				/*style mache*/
		#mache {
			padding-bottom: 60px;
			padding-top: 60px;
			background: url('image/banner.png');
			color: white;
			line-height: 1.8
		}
	
		/*style love*/
		#love {
			margin: 50px auto;
		}
		#love .content{
			margin-top: 20px;
			margin-bottom: 20px;
			line-height: 2.0
		}
		#love .h2{
			font-family: Lato,sans-serif; 

		}

		footer{
			padding: 40px 30px 30px 0px;
			background: #2b2b2b;
			color:#e0e0e0;
			font-size: 17px;
		}

		.btn-mache {
			text-transform: uppercase;
			font-size: 12px;
			padding: 5px 18px;
			padding-top: 7px;
			font-weight: bold;
		    border-radius: 17px;
		    color: #fff;
		    background-color: #ed145b;
		    border-color: #ed145b;
		}
		.btn-mache:hover {

			padding: 5px 18px;
			padding-top: 7px;
		    border-radius: 17px;
		    color: #fff;
		    background-color: #be3d67;
		    border-color: #be3d67;
		}

		.title hr{
			border-top: 2px solid #ed145b ;
			width: 15%;
		}
		.title .content-title{
			padding: 25px 27%;
		}

		